.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  gap: 1rem;
}
.sidebar input,
.sidebar textarea {
  width: 90%;
  margin: 0 auto;
  padding: 2px;
  font-size: 1rem;
}
/* sidebar   */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  min-width: 35%;
  max-width: 40%;
  gap: 1.2rem;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-muted);
  width: 90%;
}
.sidebar-header {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--text-muted);
  width: 100%;
}
.sidebar-header h2 {
  flex: 1;
}

.sidebar-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
  padding: 10px;
}
.sidebar p {
  flex: 1;
  text-align: left;
}
.customize-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-muted);
  width: 90%;
  gap: 20px;
}
.color-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
