#root,
.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  min-width: 100%;
}

/*resume*/
.cv-section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 10px 5%;
}
.wrapper {
  display: flex;
  flex: 1;
  -webkit-box-shadow: 1px 2px 40px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 2px 40px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 40px -5px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.resume-container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--main-color);
  font-weight: 500;
  width: 100%;
}

.r-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--accent-color);
  color: var(--main-color);
  gap: 10px;
  min-height: 180px;
  margin: 0;
}

.r-info-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.r-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 40px;
  text-align: left;
  word-break: normal;
  gap: 10px;
}
.content-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  width: 100%;
}
.skill-group {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skill-group li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 10px;
  color: var(--main-color);
  background-color: var(--accent-color);
  border-radius: 5px;
}
/*text*/
.muted {
  color: var(--text-muted);
}
.title {
  flex: 1;
  width: 100%;
  border-bottom: 2px solid var(--text-muted);
}
/*buttons*/

.download {
  position: fixed;
  top: 20px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 20px;
  max-width: 150px;
  border: none;
  outline: none;
  color: var(--main-color);
  background-color: var(--accent-color);
  font-size: 1rem;
  border: 1px solid var(--main-color);
  cursor: pointer;
  z-index: 2;
}
.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--main-color);
  font-size: 1.2rem;
  padding: 5px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px !important;
  border: 1px solid var(--text-muted);
  text-transform: capitalize;
  padding: 3px 20px;
  background-color: #fff;
  font-size: 1.1rem;
}
.btn-delete {
  border: none;
}

/*forms and inputs*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
}
.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  gap: 1rem;
}
.sidebar input,
.sidebar textarea {
  width: 90%;
  margin: 0 auto;
  padding: 2px;
  font-size: 1rem;
}
/* sidebar   */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  min-width: 35%;
  max-width: 40%;
  gap: 1.2rem;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-muted);
  width: 90%;
}
.sidebar-header {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--text-muted);
  width: 100%;
}
.sidebar-header h2 {
  flex: 1;
}

.sidebar-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
  padding: 10px;
}
.sidebar p {
  flex: 1;
  text-align: left;
}
