:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-color: #fff;
  --accent-color: rgb(72, 88, 236);
  --text-muted: rgb(49, 49, 49);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #121212;
  font-weight: 600;
}
input:active,
input:focus,
textarea:active,
textarea:focus {
  border-color: var(--accent-color) !important;
  outline-color: var(--accent-color);
}
@media print {
  .pagebreak {
    page-break-before: auto;
  } /* page-break-after works, as well */
  .content-card {
    page-break-inside: avoid;
  }
  .resume-container {
    display: block;
    width: 21cm;
    height: 29.7cm;
  }
}
