:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  min-width: 35%;
  max-width: 40%;
  gap: 1.2rem;
}

.cv-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
.resume-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
  min-height: 29.7cm;
  min-width: 21cm;
  font-weight: 500;
}

.profile-section,
.education-section,
.experience-section,
.skill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 40px;
  text-align: left;
  word-break: normal;
  gap: 10px;
}
.skill-group {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skill-group li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
  background-color: rgb(72, 88, 236);
  border-radius: 5px;
}

.r-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(72, 88, 236);
  color: #fff;
  gap: 10px;
  min-height: 200px;
  margin: 0;
}
.r-header h2 {
  font-size: 2.2rem;
}
.r-info-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.r-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.edu-card,
.exp-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  width: 100%;
}
.edu-group {
  width: 100%;
}
.muted {
  color: rgb(49, 49, 49);
}
.title {
  flex: 1;
  width: 100%;
  border-bottom: 2px solid rgb(49, 49, 49);
}
